.left-content
  = render partial: "shared/sidebar"
//右のチャット画面
.right-content
  .right-content_container
    //チャット画面ヘッダー
    .right-content__header.clearfix
      .right-content__header__container
        .right-content__header__left-item
          .right-content__header__left-item__group
            = "グループネーム"
          %h4.each-member Member :
          .right-content__header__left-item__members
        .right-content__header__right-item
          = link_to "Edit", class: "edit-btn btn"
    //チャット画面内容
    .right-content__messages.clearfix
      .right-content__messages__container
        = render partial: "shared/message", collection: @messages
    //送信ボックス
    .right-content__input
      .message-box
      .form__mask
      %i.fa.fa-image
