.right-content__messages__box
  .right-content__messages__box__username
    %h4
      = "名前"
  .right-content__messages__box__time
    %h4
      = "ここに時間がはいる"
    .right-content__messages__box__content
      = "メッセージ内容"
