//左メニューヘッダー
.left-content__header
  .left-content__content-box
    %h3.left-content__username
      = "カレントユーザー"
    %ul.left-content__header-list
      %li.left-content__header-list__list
      %i.fa.fa-edit.font-color
      %li.left-content__header-list__list
      %i.fa.fa-cog.font-color
.left-content__group-index
  .left-content__content-box
    .left-content__group-index__box
      = render partial: "shared/group"


